@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

@import url('./card.css');
@import url('./navbar.css');
@import url('./form.css');


body {
  margin: 0;
}


.container {
  border: 1px solid transparent;
  padding: 10px;
}

ul > li {
  list-style: none;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.button-default {
  border: 1px solid #2d3436;
  padding: 10 5;
  background: white;
}

.button-control  {
  border: 1px solid #2d3436;
  border-radius: 2px;
  padding: 10px;
  background: white;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  margin: 5px;
  flex:1;
}

.button-control a {
  color: #101010;
  text-decoration: none;
}

.button-control-success {
  border: transparent;
  border-radius: 2px;
  background: #2ecc71;
  padding: 10px;
  font-size: 15px;
  margin: 5px;
  color: #fff;
  font-weight: bold;
  flex: 2;
}

.button-control-info {
  border: transparent;
  border-radius: 2px;
  background: #3498db;
  padding: 10px;
  font-size: 15px;
  margin: 5px;
  color: #fff;
  font-weight: bold;
  flex: 2;
}

.button-control-info a {
  border: transparent;
  border-radius: 2px;
  background: #3498db;
  padding: 10px;
  font-size: 15px;
  margin: 5px;
  color: #fff;
  font-weight: bold;
  flex: 2;
  text-decoration: none;
}

