body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3436;
}

.container {
  border: 1px solid transparent;
  padding: 10px;
}

ul > li {
  list-style: none;
}


.button-default {
  border: 1px solid #2d3436;
  padding: 10 5;
  background: white;
}

.button-control  {
  border: 1px solid #2d3436;
  padding: 5px;
  background: white;
  font-size: 12px;
}

.button-remove {
  border: 1px solid #d63031;
  padding:5px;
  font-size: 12px;
  background: white;
  color: #d63031; 
}

.button-edit {
  border: 1px solid #0984e3;
  padding:5px;
  font-size: 12px;
  background: white;
  color: #0984e3; 
}
.button-show {
  border: 1px solid #2ecc71;
  padding:5px;
  font-size: 12px;
  background: white;
  color:#2ecc71;
}
