  .card-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;    
    font-family: 'Lexend Deca', sans-serif;
  }


  .card-group .card {
    border: 1px solid transparent;
    box-shadow: 0 0px 1px rgba(0,0,0,0.12), 0 0px 1px rgba(0,0,0,0.12);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .card-group .card .card-image img {
    max-width: 100%;
  }

  .card-group .card > .card-header {
    border: inherit;
    padding: 5px;
    font-size: 15px;  
  }


  .card-group .card > .card-footer {
    border: inherit;
    padding: 8px;
    font-size: 15px;
    display: flex;    
  }

  .card-group .card-footer > .card-button {
    border: 1px solid #101010;
    border-radius: 2px;
    padding: inherit;
    font-family: 'Lexend Deca', sans-serif;
    margin: 1px 2px;
    background: white;
  }

  .card-group .card-footer > .card-button a {
    color: #101010;
    text-decoration: none;
  }



  .card-single {
    width: 30%;
    font-family: 'Lexend Deca', sans-serif;
  }

  .card-single .card {
    border: 1px solid transparent;
    box-shadow: 0 0px 1px rgba(0,0,0,0.12), 0 0px 1px rgba(0,0,0,0.12);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .card-item-group {
    display: flex;
  }
  .card-item-group .card-item {
    border: 1px solid transparent;        
    padding: 10px;
  }
  
  .card-single .card .card-image img {
    width: 100%;
  }
  

  .card-single .card > .card-header {
    border: inherit;
    padding: 5px;
    font-size: 15px;  
  }


  .card-single .card > .card-footer {
    border: inherit;
    padding: 8px;
    font-size: 15px;
    display: flex;    
  }

  .card-single .card-footer > .card-button{
    border: 1px solid #101010;
    border-radius: 2px;
    padding: inherit;
    font-family: 'Lexend Deca', sans-serif;
    margin: 1px 2px;
    background: white;
  }

   .card-single .card-footer > .card-button a{
    color: #101010;
    text-decoration: none;
  }

