
    .navbar {
      background: #fff;
      font-size: 24px;
      font-family: 'Lexend Deca', sans-serif;
      color: #101010; 
      display:flex;
      flex-wrap: wrap;  
      flex-basis: 50%;  
      border: 1px solid transparent;
      box-shadow: 0 0px 1px rgba(0,0,0,0.16), 0 0px 1px rgba(0,0,0,0.23);
    }

    .navbar a {
      text-decoration: none;
      color: #101010;
    }


    .navbar .navbar-brand {
      border: inherit;
      padding: 25px;
      color: inherit;
      font-family: inherit;
      font-size: inherit; 
    }

    .navbar .navbar-item {
      border: inherit;
      padding: 25px 5px;
      color: inherit;
      font-family: inherit;
      font-size: 20px;
    }

    .navbar .navbar-item:nth-child(3){
      flex: 2;
    }

    /* deleted */
    .navbar-item  .navbar-button  {
      background: #2c3e50;  
      border-radius: 3px;
      border: 1px solid #2c3e50;
      color: #fff;
      padding: 10px;
      font-size: 18px;
    }

   
